@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--libreFranklin);
}

:root {
  /* The font type  */
  --libreFranklin: 'Libre Franklin', sans-serif;

  /* Primary color  */
  --blue: hsl(223, 87%, 63%);

  /* Secondary */
  --paleBlue: hsl(223, 100%, 88%);
  --lightRed: hsl(354, 100%, 66%);

  /* Neutral */
  --gray: hsl(0, 0%, 59%);
  --veryDarkBlue: hsl(209, 33%, 12%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 700px;
}

section .logo {
  display: flex;
}

section .txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

section .txt h1 {
  font-size: 48px;
  font-weight: 300;
  color: var(--gray);
}

section .txt h1 span {
  font-weight: 700;
  color: var(--veryDarkBlue);
}

section .txt p {
  font-size: 18px;
  color: var(--veryDarkBlue);
}

.form {
  width: 550px;
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form input[type='email'] {
  width: 360px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid var(--gray);
  padding: 0 20px;
}
::placeholder {
  color: var(--gray);
  font-size: 15px;
}
form input[type='submit'] {
  border: none;
  background-color: var(--blue);
  border-radius: 40px;
  width: 180px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}
section .image {
  width: 550px;
}

.image img {
  max-width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.socials {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.socials #social {
  width: ;
}
