@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* The font type  */
  --libreFranklin: 'Libre Franklin', sans-serif;

  /* Primary color  */
  --blue: hsl(223, 87%, 63%);

  /* Secondary */
  --paleBlue: hsl(223, 100%, 88%);
  --lightRed: hsl(354, 100%, 66%);

  /* Neutral */
  --gray: hsl(0, 0%, 59%);
  --veryDarkBlue: hsl(209, 33%, 12%);
}
