@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--libreFranklin);
}

:root {
  /* The font type  */
  --libreFranklin: 'Libre Franklin', sans-serif;

  /* Primary color  */
  --blue: hsl(223, 87%, 63%);

  /* Secondary */
  --paleBlue: hsl(223, 100%, 88%);
  --lightRed: hsl(354, 100%, 66%);

  /* Neutral */
  --gray: hsl(0, 0%, 59%);
  --veryDarkBlue: hsl(209, 33%, 12%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 700px;
}

section .logo {
  display: flex;
}

section .txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

section .txt h1 {
  font-size: 48px;
  font-weight: 400;
  color: var(--gray);
}

section .txt h1 span {
  font-weight: 700;
  color: var(--veryDarkBlue);
}

section .txt p {
  font-size: 18px;
  color: var(--veryDarkBlue);
}

.form {
  width: 550px;
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

form .message input[type='email'] {
  width: 360px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid var(--gray);
  padding: 0 20px;
  color: var(--gray);
}
::placeholder {
  color: var(--gray);
  font-size: 15px;
}
form .message p.invalid {
  left: 30px;
  top: 10px;
  position: relative;
  font-size: 12px;
  color: rgb(243, 99, 99);
  display: none;
}

form .message p.display {
  display: block;
}
form input[type='submit'] {
  border: none;
  background-color: var(--blue);
  border-radius: 40px;
  width: 180px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}
section .image {
  width: 550px;
}

.image img {
  max-width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}
.socials {
  display: flex;
  justify-content: space-around;
  width: 130px;
}

.socials #social {
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 50%;
  border: ridge 0.3px var(--gray);
  fill: var(--blue);
  transition: all ease-in 0.35s;
}

.socials #social:hover {
  background-color: var(--blue);
  fill: #fff;
  border: none;
}

footer .copyright {
  font-size: 12px;
  color: var(--gray);
}

@media screen and (max-width: 550px) {
  section {
    width: 100%;
  }
  section .logo {
    max-width: 60px;
    /* overflow: hidden; */
  }
  section .logo img {
    max-width: 100%;
  }

  section .txt h1 {
    font-size: 30px;
    font-weight: 400;
    color: var(--gray);
  }
  section .txt p {
    font-size: 16px;
  }
  .form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 120px; */
    max-height: 150px;
  }

  form .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  form .message input[type='email'] {
    width: 360px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid var(--gray);
    padding: 0 20px;
    color: var(--gray);
  }
  ::placeholder {
    color: var(--gray);
    font-size: 15px;
  }
  form .message p.invalid {
    left: 30px;
    top: 10px;
    position: relative;
    font-size: 12px;
    color: rgb(243, 99, 99);
    display: none;
  }

  form .message p.display {
    display: block;
    margin-bottom: 10px;
  }
  form input[type='submit'] {
    border: none;
    background-color: var(--blue);
    border-radius: 50px;
    width: 360px;
    height: 50px;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
  }
  section .image {
    width: 90%;
  }

  .image img {
    max-width: 100%;
  }
}
